@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
:root{
    --color-white:#E5E9F0 ;
    --color-red:#E99287;
    --color-blue: #4D5BCE ;
    --color-green: #43D9AD ;
    --color-grey: #607B96;
}



body {
    font-family: 'Fira Code', monospace;
    background-image: url("asset/Maiback.png");
    margin: 0;
    padding: 0;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    max-height: 58px;
    height: 100%;
    border-bottom: 1px solid var(--color-grey);
    
}


.navbar-left {
    display: flex;
    gap: 15px;

}

.navbar-i-r-1{
    border-right: 1px solid var(--color-grey);
    padding: 1px;
    margin-left: 1rem;
}

.navbar-i-r-1 > p {
    color: var(--color-green);
    font-size: 15px;
    margin-right:50px ;
}


.navbar-i-r-2 {
    border-right: 1px solid var(--color-grey);
    padding: 1px;
}

.navbar-i-r-2 > p {
    color: var(--color-grey);
    font-size: 15px;
    margin-right:10px ;
}

.navbar-i-r-3 {
    border-right: 1px solid var(--color-grey);
    padding: 1px;
}

.navbar-i-r-3 > p {
    color: var(--color-grey);
    font-size: 15px;
    margin-right:10px ;
}

.navbar-i-r-4 {
    border-right: 1px solid var(--color-grey);
    padding: 1px;
}

.navbar-i-r-4 > p {
    color: var(--color-grey);
    font-size: 15px;
    margin-right:10px ;
}

.navbar-right{
    border-left: 1px solid var(--color-grey);
    padding: 1px;
    margin-right: 1rem;

}

.navbar-right p {
    color: var(--color-green);
    font-size: 15px;
    margin-left:10px ;
  
}


/* MAIN SECTION */


.main-section {
    display: flex;
    flex-direction: column;
    width: 45%;
    /* margin: 0 auto; */
    /* justify-content: space-evenly; */
    margin-left: 10rem;
    margin-top: 8rem;
}

.main-section > .texthead {
    margin-bottom: 3rem;
}

.main-section > .texthead p {
    color: var(--color-white);
    margin:1;
    font-size: 18px;
}

.main-section > .texthead h1 {
    color: var(--color-white);
    margin: 0;
    font-weight: 400;
    font-size: 40px;
}

.main-section > .texthead h3 {
    color: var(--color-blue);
    margin: 0;
    font-size: 20px;
}

.main-section > .text-body .info-contact p {
    color: var(--color-grey);
    font-size: 14px;
}

.main-section > .text-body .info-attr p .info-const{
    color: var(--color-blue);
    font-size: 14px;
}


.main-section > .text-body .info-attr p .info-name-catt{
    color: var(--color-green);
    font-size: 14px;

}

.main-section > .text-body .info-attr p {
    color: var(--color-white);
    font-size: 14px;

}



@media screen and (max-width: 630px) {
    nav {
        display: none;

    }

    .main-section {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        width: 100%;
        margin-left: 0 auto;
       
    }
    
    .main-section > .texthead {
        margin-bottom: 3rem;
    }
    
    .main-section > .texthead p {
        color: var(--color-white);
        margin:1;
        font-size: 15px;
    }
    
    .main-section > .texthead h1 {
        color: var(--color-white);
        margin: 0;
        font-weight: 400;
        font-size: 35px;
    }
    
    .main-section > .texthead h3 {
        color: var(--color-blue);
        margin: 0;
        font-size: 15px;
    }
    
    .main-section > .text-body .info-contact p {
        color: var(--color-grey);
        font-size: 9px;
    }
    
    .main-section > .text-body .info-attr p .info-const{
        color: var(--color-blue);
        font-size: 9px;
    }
    
    
    .main-section > .text-body .info-attr p .info-name-catt{
        color: var(--color-green);
        font-size: 9px;
    
    }
    
    .main-section > .text-body .info-attr p {
        color: var(--color-white);
        font-size: 9px;
    
    }
  }